@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Dark mode independent colors */
	--color-address-background: oklch(0.7505 0.1791 58.28);
	--color-address-text: oklch(0 0 0);

	/* Light mode colors */
	--color-register-background-light: oklch(0.9677 0.0027 286.35);
	--color-register-text-light: oklch(0 0 0);
	--color-register-border-light: oklch(0 0 0);
	--color-register-focus-background-light: oklch(0 0 0);
	--color-register-focus-text-light: oklch(0.9677 0.0027 286.35);
	--color-memory-data-background-light: oklch(0.8576 0 0);
	--color-memory-data-text-light: oklch(0 0 0);
	--color-memory-data-focus-background-light: oklch(0 0 0);
	--color-memory-data-focus-text-light: oklch(0.9677 0.0027 286.35);
	--color-label-background-light: oklch(0.7058 0 0);
	--color-label-text-light: oklch(0 0 0);
	--color-label-border-light: oklch(0 0 0);
	--color-animation-light: oklch(0.8664 0.294827 142.4953);

	/* Dark mode colors */
	--color-register-background-dark: oklch(24.8% 0 63.4);
	--color-register-text-dark: oklch(92.5% 0 76);
	--color-register-border-dark: oklch(45% 0.0027 286.3);
	--color-register-focus-background-dark: oklch(92.5% 0 76);
	--color-register-focus-text-dark: oklch(24.8% 0 63.4);
	--color-memory-data-background-dark: oklch(22.1% 0 0);
	--color-memory-data-text-dark: oklch(92.5% 0 76);
	--color-memory-data-focus-background-dark: oklch(92.5% 0 76);
	--color-memory-data-focus-text-dark: oklch(24.8% 0 63.4);
	--color-label-background-dark: oklch(0.7058 0 0);
	--color-label-text-dark: oklch(0 0 0);
	--color-label-border-dark: oklch(0 0 0);
	--color-animation-dark: oklch(0.8664 0.294827 142.4953);

	/* Height values */
	--register-height: --spacing(7.5);
	--label-height: --spacing(7);

	/* Width values */
	--byte-register-width: --spacing(25);
	--word-register-width: --spacing(44);
	--instruction-register-width: --spacing(50);
	--label-width: --spacing(37.5);
	--memory-address-width: --spacing(25);
	--memory-data-width: --spacing(47.5);

	/* Shadows */
	--shadow-label: inset 0 0 --spacing(2.5) rgba(0, 0, 0, 0.2);
}

.register {
	@apply relative font-mono text-base;

	height: var(--register-height);
	line-height: var(--register-height);
}

.register-border {
	@apply border;

	border-color: var(--color-register-border-light);

	@variant dark {
		border-color: var(--color-register-border-dark);
	}
}

.register-foreground {
	color: var(--color-register-text-light);

	@variant dark {
		color: var(--color-register-text-dark);
	}
}

.register-background {
	background-color: var(--color-register-background-light);

	@variant dark {
		background-color: var(--color-register-background-dark);
	}
}

.register-focusable.register-foreground.register-background {
	@variant focus {
		color: var(--color-register-focus-text-light);
		background-color: var(--color-register-focus-background-light);

		@variant dark {
			color: var(--color-register-focus-text-dark);
			background-color: var(--color-register-focus-background-dark);
		}
	}
}

@source "test/+page.svelte";
