@import "./variables.scss";

@mixin cpu-component {
	position: absolute;
	border: $cpu-comp-border;
	background-color: $cpu-comp-bgcolor;
	box-shadow: $cpu-comp-shadow;
	border-radius: $cpu-comp-border-radius;
}

@mixin center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
