@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* Flowbite */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type="search"]::-webkit-search-cancel-button {
		display: none;
	}
}

@theme static {
	/* Dark mode independent colors */
	--color-address-background: oklch(0.7505 0.1791 58.28);
	--color-address-text: oklch(0 0 0);
	--color-address-border: oklch(0 0 0);
	--color-flash-animation-background: oklch(0.8664 0.294827 142.4953);
	--color-flash-animation-text: oklch(0 0 0);
	--color-flash-animation-border: oklch(0 0 0);

	/* Light mode colors */
	--color-register-background-light: oklch(0.9677 0.0027 286.35);
	--color-register-text-light: oklch(0 0 0);
	--color-register-border-light: oklch(0 0 0);
	--color-register-focus-background-light: oklch(0 0 0);
	--color-register-focus-text-light: oklch(0.9677 0.0027 286.35);
	--color-memory-border-light: oklch(0 0 0);
	--color-memory-data-background-light: oklch(0.8576 0 0);
	--color-memory-data-text-light: oklch(0 0 0);
	--color-memory-data-focus-background-light: oklch(0 0 0);
	--color-memory-data-focus-text-light: oklch(0.9677 0.0027 286.35);
	--color-memory-data-border-light: oklch(0 0 0);
	--color-label-background-light: oklch(70.6% 0 0 / 60%);
	--color-label-text-light: oklch(0 0 0);
	--color-label-border-light: oklch(0% 0 0 / 60%);
	--color-label-button-light: oklch(0% 0 0 / 60%);

	/* Dark mode colors */
	--color-register-background-dark: oklch(24.8% 0 63.4);
	--color-register-text-dark: oklch(92.5% 0 76);
	--color-register-border-dark: oklch(45% 0.0027 286.3);
	--color-register-focus-background-dark: oklch(92.5% 0 76);
	--color-register-focus-text-dark: oklch(24.8% 0 63.4);
	--color-memory-border-dark: oklch(45% 0.0027 286.3);
	--color-memory-data-background-dark: oklch(22.1% 0 0);
	--color-memory-data-text-dark: oklch(92.5% 0 76);
	--color-memory-data-focus-background-dark: oklch(92.5% 0 76);
	--color-memory-data-focus-text-dark: oklch(24.8% 0 63.4);
	--color-memory-data-border-dark: oklch(45% 0.0027 286.3);
	--color-label-background-dark: oklch(40.1% 0 180 / 60%);
	--color-label-text-dark: oklch(80.1% 0 45);
	--color-label-border-dark: oklch(71.5% 0 0 / 60%);
	--color-label-button-dark: oklch(65.6% 0 135 / 60%);

	/* Height values */
	--register-height: --spacing(7.5);
	--label-height: --spacing(7);

	/* Width values */
	--byte-register-width: 11ch;
	--word-register-width: 20ch;
	--instruction-register-width: 20ch;
	--label-width: 14ch;
	--memory-address-width: 11ch;
	--memory-data-width: 20ch;

	/* Shadows */
	--shadow-label: inset 0 0 --spacing(2.5) oklch(0% 0 0 / 20%);
	--shadow-register: 0 0 --spacing(2.5) oklch(0% 0 0 / 20%);
	--drop-shadow-memory: 0 0 --spacing(5) oklch(0% 0 0 / 30%);
}

.register {
	@apply relative font-mono text-base;

	height: var(--register-height);
	line-height: var(--register-height);
}

.register-border {
	@apply border;

	border-color: var(--color-register-border-light);

	@variant dark {
		border-color: var(--color-register-border-dark);
	}
}

.register-foreground {
	color: var(--color-register-text-light);

	@variant dark {
		color: var(--color-register-text-dark);
	}
}

.register-background {
	background-color: var(--color-register-background-light);

	@variant dark {
		background-color: var(--color-register-background-dark);
	}
}

.register-focusable.register-foreground.register-background {
	@variant focus {
		color: var(--color-register-focus-text-light);
		background-color: var(--color-register-focus-background-light);

		@variant dark {
			color: var(--color-register-focus-text-dark);
			background-color: var(--color-register-focus-background-dark);
		}
	}
}

/* You can add @source "anything" to test-routes.css, this way tailwind picks up the classes used
 * by routes that are ignored by .gitignore */
@source "./routes/test/test-routes.css";
